<!DOCTYPE html>
<!-- <html lang="en"> -->
<html>
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" />
</head>

<body>
    <iframe src="{{url_for('top_bar')}}"></iframe>

    <div class="centered">
        <h1>Login Page</h1>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
        </form>
    
        <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>    
    </div>
</body>

</html>